:root {
  --DesaturatedRed: #ce9797;
}

body {
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  color: var(--DesaturatedRed);
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 56px;
  text-transform: uppercase;
  letter-spacing: 12px;
  font-weight: 300;
}

h1 strong {
  color: #000;
  font-weight: 700;
}

p {
  font-size: 16px;
}

.content {
  padding: 0 160px 0 60px;
}

input {
  border: 1px solid var(--DesaturatedRed);
  border-radius: 30px;
  padding: 14px 80px;
  opacity: 0.6;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: var(--DesaturatedRed);
}
:-moz-placeholder {
  color: var(--DesaturatedRed);
}
:-ms-input-placeholder {
  color: var(--DesaturatedRed);
}

.email-btn {
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  padding: 15px 40px;
  border-radius: 30px;
  border: none;
  position: relative;
  right: 60px;
  transition: all 150ms ease-in-out;
}

.email-btn:hover, .email-btn:active {
 background: linear-gradient(135deg, hsl(0, 80%, 88%), hsl(0, 51%, 78%));;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
